BITNAMI_DEBUG='{{ mediawiki_debug }}'
MEDIAWIKI_USERNAME='{{ mediawiki_admin_username | mandatory }}'
MEDIAWIKI_PASSWORD='{{ mediawiki_admin_password | mandatory }}'
MEDIAWIKI_EMAIL='{{ mediawiki_email | mandatory }}'
MEDIAWIKI_HOST='{{ mediawiki_domain | mandatory }}'
MEDIAWIKI_WIKI_NAME='{{ mediawiki_sitename | mandatory }}'
MEDIAWIKI_ENABLE_HTTPS='true'
MEDIAWIKI_DATABASE_HOST='db'
MEDIAWIKI_DATABASE_PORT_NUMBER='{{ mediawiki_db_cont_port | mandatory }}'
MEDIAWIKI_DATABASE_NAME='{{ mediawiki_db_name | mandatory }}'
MEDIAWIKI_DATABASE_USER='{{ mediawiki_db_user | mandatory }}'
MEDIAWIKI_DATABASE_PASSWORD='{{ mediawiki_db_pass | mandatory }}'
{% if mediawiki_smtp_enabled %}
# SMTP
MEDIAWIKI_SMTP_HOST_ID='{{ mediawiki_domain | mandatory }}'
MEDIAWIKI_SMTP_HOST='{{ mediawiki_smtp_host | mandatory }}'
MEDIAWIKI_SMTP_PORT='{{ mediawiki_smtp_port | mandatory }}'
MEDIAWIKI_SMTP_USER='{{ mediawiki_smtp_user | mandatory }}'
MEDIAWIKI_SMTP_PASSWORD='{{ mediawiki_smtp_password | mandatory }}'
MEDIAWIKI_ENABLE_SMTP_AUTH='true'
{% endif %}
