MYSQL_TCP_PORT='{{ mediawiki_db_cont_port | mandatory }}'
MYSQL_DATABASE='{{ mediawiki_db_name | mandatory }}'
MYSQL_ROOT_PASSWORD='{{ mediawiki_db_pass | mandatory }}'
MYSQL_USER='{{ mediawiki_db_user | mandatory }}'
MYSQL_PASSWORD='{{ mediawiki_db_pass | mandatory }}'
