[client]
host=127.0.0.1
port={{ mediawiki_db_cont_port | mandatory }}
user={{ mediawiki_db_user | mandatory }}
password={{ mediawiki_db_pass | mandatory }}
database={{ mediawiki_db_name | mandatory }}
